@charset "UTF-8";a,article,body,div,em,h1,html,img,p {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article {
    display: block
}

body {
    line-height: 1
}

@font-face {
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    src: url(/style2/313E4C_0_0.eot);
    src: url(/style2/313E4C_0_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_0_0.woff2) format("woff2"),url(/style2/313E4C_0_0.woff) format("woff"),url(/style2/313E4C_0_0.ttf) format("truetype")
}

@font-face {
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 400;
    src: url(/style2/313E4C_1_0.eot);
    src: url(/style2/313E4C_1_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_1_0.woff2) format("woff2"),url(/style2/313E4C_1_0.woff) format("woff"),url(/style2/313E4C_1_0.ttf) format("truetype")
}

@font-face {
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    src: url(/style2/313E4C_2_0.eot);
    src: url(/style2/313E4C_2_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_2_0.woff2) format("woff2"),url(/style2/313E4C_2_0.woff) format("woff"),url(/style2/313E4C_2_0.ttf) format("truetype")
}

.grid {
    font-size: 0
}

.grid__item {
    font-size: 18px;
    position: relative;
    text-align: left
}

.grid {
    list-style: none;
    margin: 0 0 0 -20px;
    padding: 0
}

.grid__item {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 100%
}

.grid--middle>.grid__item {
    vertical-align: middle
}

.one-half {
    width: 50%
}



* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    text-rendering: optimizeLegibility
}

body,html {
    font-family: HelveticaNeue,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 300
}

p {
    line-height: 24px;
    padding-bottom: 30px;
    position: relative
}

a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none
}

em {
    font-style: italic
}

body,html {
    height: 100%;
    position: relative
}

.sticky-footer {
    clear: both;
    height: auto!important;
    height: 100%;
    min-height: 100%
}

.footer-pusher,.sticky-footer {
    position: relative
}

.headline {
    font-size: 65px;
    line-height: 1.2;
    opacity: 1;
    padding-bottom: 60px;
    transition: opacity .25s linear
}

.headline {
    display: block;
    position: relative
}

.headline.no-space {
    padding-bottom: 0
}

.headline-second {
    display: block;
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 18px;
    position: relative
}


.max-width {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative
}

.max-width.middle {
    max-width: 1200px
}

.max-width.normal {
    max-width: 960px
}

.text-align-center {
    text-align: center
}

.color-blue {
    color: #003da5
}

.button {
    background-color: #003da5;
    border: 1px solid #003da5;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    min-width: 110px;
    padding: 11px 25px 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: color .2s linear,background-color .2s linear,border-color .2s linear;
    vertical-align: middle
}

.button.space-right {
    margin-right: 20px
}

.headline-header,.headline-header-inner {
    display: block;
    position: relative
}

.headline-header-inner {
    padding-top: 50px
}

.headline-header-inner.with-header-info {
    padding-left: 220px;
    padding-right: 220px
}


.overview {
    color: #323436;
    counter-reset: overview-number;
    padding: 30px 0
}

.overview,.overview article {
    display: block;
    position: relative
}

.overview article {
    transition: opacity .25s linear
}

.overview article:after {
    background-color: #f2f5f9;
    bottom: 100px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    z-index: 1
}

.overview img {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    z-index: 2
}

.overview-number {
    counter-increment: overview-number;
    display: block;
    padding-bottom: 150px;
    padding-right: 80px;
    padding-top: 150px;
    position: relative;
    z-index: 2
}

.overview-number:before {
    color: #f2f5f9;
    content: "0" counter(overview-number);
    font-size: 140px;
    height: 115px;
    line-height: 1;
    position: absolute;
    right: 80px;
    top: 75px
}



.support-search input:placeholder {
    color: #53565a;
    opacity: 1
}

.support-search input:input-placeholder {
    color: #53565a
}

.support-search input::input-placeholder {
    color: #53565a
}

.header-placeholder {
    display: block;
    height: 70px;
    position: relative
}

.navigation input:placeholder {
    color: #323436;
    opacity: 1
}

.navigation input:input-placeholder {
    color: #323436
}

.navigation input::input-placeholder {
    color: #323436
}

@font-face {
    font-display: block;
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    src: url(/style2/icomoon.ttf?kx2c91) format("truetype"),url(/style2/icomoon.woff?kx2c91) format("woff"),url(/style2/icomoon.svg?kx2c91#icomoon) format("svg")
}


@media screen and (max-width: 1030px) {
    .headline {
        font-size:48px
    }

    .headline-header-inner.with-header-info {
        padding-left:0;
        text-align: left!important
    }


    .overview {
        padding-left:0;
        padding-right: 0
    }

    .overview-number {
        padding-bottom: 100px;
        padding-right: 20px;
        padding-top: 100px
    }

    .overview-number:before {
        font-size: 90px;
        height: 75px;
        right: 20px;
        top: 60px
    }

}
@media only screen and (max-width: 1030px) {

    .ipadq--five-twelfths {
        width: 41.666%
    }

    .ipadq--seven-twelfths {
        width: 58.333%
    }
}
@media screen and (max-width: 800px) {

    .headline {
        font-size: 42px;
        line-height: 48px
    }

    .headline-second {
        font-size: 36px;
        line-height: 1.2
    }
}
@media only screen and (max-width: 700px) {
    .iphone--one-whole {
        width:100%
    }
}
@media screen and (max-width: 700px) {
    .overview img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0
    }

    .overview article:after {
        display: none
    }

    .overview-number {
        padding-bottom: 50px;
        padding-right: 30px;
        padding-top: 0
    }

    .overview-number:before {
        font-size: 60px;
        height: 55px;
        left: auto;
        right: 0;
        top: -30px
    }

    .headline-header-inner {
        padding-top:10px
    }

    .headline-header-inner.with-header-info {
        padding-right: 0
    }

    .headline-header-inner.text-align-center {
        text-align: center!important
    }

    .headline {
        font-size:32px;
        line-height: 36px;
        padding-bottom: 25px
    }

    .headline-second {
        font-size: 30px
    }

}

