@font-face {
	font-weight:300;font-style:normal;font-family:HelveticaNeue;src:url(/style2/313E4C_0_0.eot);src:url(/style2/313E4C_0_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_0_0.woff2) format("woff2"),url(/style2/313E4C_0_0.woff) format("woff"),url(/style2/313E4C_0_0.ttf) format("truetype")
}
@font-face {
	font-weight:400;font-style:normal;font-family:HelveticaNeue;src:url(/style2/313E4C_1_0.eot);src:url(/style2/313E4C_1_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_1_0.woff2) format("woff2"),url(/style2/313E4C_1_0.woff) format("woff"),url(/style2/313E4C_1_0.ttf) format("truetype")
}
@font-face {
	font-weight:500;font-style:normal;font-family:HelveticaNeue;src:url(/style2/313E4C_2_0.eot);src:url(/style2/313E4C_2_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_2_0.woff2) format("woff2"),url(/style2/313E4C_2_0.woff) format("woff"),url(/style2/313E4C_2_0.ttf) format("truetype")
}
@font-face {
	font-weight:400;font-style:normal;font-family:icomoon;src:url(/style2/icomoon.ttf?kx2c91) format("truetype"),url(/style2/icomoon.woff?kx2c91) format("woff"),url(/style2/icomoon.svg?kx2c91#icomoon) format("svg");font-display:block
}
@font-face {
	font-weight:300;font-style:normal;font-family:HelveticaNeue;src:url(/style2/313E4C_0_0.eot);src:url(/style2/313E4C_0_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_0_0.woff2) format("woff2"),url(/style2/313E4C_0_0.woff) format("woff"),url(/style2/313E4C_0_0.ttf) format("truetype")
}
@font-face {
	font-weight:400;font-style:normal;font-family:HelveticaNeue;src:url(/style2/313E4C_1_0.eot);src:url(/style2/313E4C_1_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_1_0.woff2) format("woff2"),url(/style2/313E4C_1_0.woff) format("woff"),url(/style2/313E4C_1_0.ttf) format("truetype")
}
@font-face {
	font-weight:500;font-style:normal;font-family:HelveticaNeue;src:url(/style2/313E4C_2_0.eot);src:url(/style2/313E4C_2_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_2_0.woff2) format("woff2"),url(/style2/313E4C_2_0.woff) format("woff"),url(/style2/313E4C_2_0.ttf) format("truetype")
}
@font-face {
	font-weight:400;font-style:normal;font-family:icomoon;src:url(/style2/icomoon.ttf?kx2c91) format("truetype"),url(/style2/icomoon.woff?kx2c91) format("woff"),url(/style2/icomoon.svg?kx2c91#icomoon) format("svg");font-display:block
}
@font-face {
	font-family:HelveticaNeue;font-style:normal;font-weight:300;src:url(/style2/313E4C_0_0.eot);src:url(/style2/313E4C_0_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_0_0.woff2) format("woff2"),url(/style2/313E4C_0_0.woff) format("woff"),url(/style2/313E4C_0_0.ttf) format("truetype")
}
@font-face {
	font-family:HelveticaNeue;font-style:normal;font-weight:400;src:url(/style2/313E4C_1_0.eot);src:url(/style2/313E4C_1_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_1_0.woff2) format("woff2"),url(/style2/313E4C_1_0.woff) format("woff"),url(/style2/313E4C_1_0.ttf) format("truetype")
}
@font-face {
	font-family:HelveticaNeue;font-style:normal;font-weight:500;src:url(/style2/313E4C_2_0.eot);src:url(/style2/313E4C_2_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_2_0.woff2) format("woff2"),url(/style2/313E4C_2_0.woff) format("woff"),url(/style2/313E4C_2_0.ttf) format("truetype")
}
@font-face {
	font-display:block;font-family:icomoon;font-style:normal;font-weight:400;src:url(/style2/icomoon.ttf?kx2c91) format("truetype"),url(/style2/icomoon.woff?kx2c91) format("woff"),url(/style2/icomoon.svg?kx2c91#icomoon) format("svg")
}
@font-face {
	font-family:HelveticaNeue;font-style:normal;font-weight:300;src:url(/style2/313E4C_0_0.eot);src:url(/style2/313E4C_0_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_0_0.woff2) format("woff2"),url(/style2/313E4C_0_0.woff) format("woff"),url(/style2/313E4C_0_0.ttf) format("truetype")
}
@font-face {
	font-family:HelveticaNeue;font-style:normal;font-weight:400;src:url(/style2/313E4C_1_0.eot);src:url(/style2/313E4C_1_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_1_0.woff2) format("woff2"),url(/style2/313E4C_1_0.woff) format("woff"),url(/style2/313E4C_1_0.ttf) format("truetype")
}
@font-face {
	font-family:HelveticaNeue;font-style:normal;font-weight:500;src:url(/style2/313E4C_2_0.eot);src:url(/style2/313E4C_2_0.eot?#iefix) format("embedded-opentype"),url(/style2/313E4C_2_0.woff2) format("woff2"),url(/style2/313E4C_2_0.woff) format("woff"),url(/style2/313E4C_2_0.ttf) format("truetype")
}
@font-face {
	font-display:block;font-family:icomoon;font-style:normal;font-weight:400;src:url(/style2/icomoon.ttf?kx2c91) format("truetype"),url(/style2/icomoon.woff?kx2c91) format("woff"),url(/style2/icomoon.svg?kx2c91#icomoon) format("svg")
}
@media screen and (max-width:700px) {
	.headline {
		font-size: 32px;
		line-height: 36px;
		padding-bottom: 25px
	}

	.headline-second {
		font-size: 30px
	}

	.header-image-info {
		display: none
	}

	.breadcrumb {
		paddin-left: 20px;
		paddin-right: 20px
	}

	.headline-header-inner {
		padding-top: 10px
	}

	.headline-header-inner.with-header-info {
		padding-right: 0
	}

	.headline-header-inner.text-align-center {
		text-align: center!important
	}

	.overview img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0
	}

	.overview article:after {
		display: none
	}

	.overview-number {
		padding-bottom: 50px;
		padding-right: 30px;
		padding-top: 0
	}

	.overview-number.left {
		padding-left: 0;
		padding-right: 30px
	}

	.overview-number.left:before,.overview-number:before {
		font-size: 60px;
		height: 55px;
		left: auto;
		right: 0;
		top: -30px
	}

	.header-language-chooser {
		display: none
	}

	.navigation>ul>li.mobile-menu {
		display: block
	}

	.navigation>ul>li>a {
		font-weight: 400
	}

	.sub-navigation-list>li {
		width: 100%
	}

	.sub-navigation-list>li img {
		max-width: 70px
	}
}
@media only screen and (max-width:700px) {
	.iphone--one-whole {
		width: 100%
	}
}
@media screen and (max-width:800px) {
	.headline {
		font-size: 42px;
		line-height: 48px
	}

	.headline-second {
		font-size: 36px;
		line-height: 1.2
	}

	.breadcrumb a,.breadcrumb span {
		padding-right: 5px
	}

	.header-search {
		display: none
	}

	.navigation>ul>li.tablet-menu {
		display: block
	}

	.sub-navigation-list {
		padding-left: 20px;
		padding-right: 20px
	}

	.sub-navigation-list>li {
		width: 50%
	}
}
@media only screen and (max-width:1030px) {
	.ipadq--one-half {
		width: 50%
	}

	.ipadq--five-twelfths {
		width: 41.666%
	}

	.ipadq--seven-twelfths {
		width: 58.333%
	}
}
@media screen and (max-width:1030px) {
	.headline {
		font-size: 48px
	}

	.headline-header-inner.with-header-info {
		padding-left: 0;
		text-align: left!important
	}

	.overview {
		padding-left: 0;
		padding-right: 0
	}

	.overview-number {
		padding-bottom: 100px;
		padding-right: 20px;
		padding-top: 100px
	}

	.overview-number:before {
		font-size: 90px;
		height: 75px;
		right: 20px;
		top: 60px
	}

	.overview-number.left {
		padding-left: 30px
	}

	.overview-number.left:before {
		left: 0;
		right: auto
	}
}
@media screen and (max-width:1300px) {
	.search-opened .header-search input {
		width: 220px
	}
	
	.navigation>ul,.navigation>ul>li,.search-opened .navigation {
		display: block
	}
	
	.header.menu-opened .navigation {
		overflow: auto;
		max-height: calc(100% - 70px);
		border-top: 1px solid #003da5
	}
	
	.navigation>ul>li.opened .sub-navigation {
		max-height: 900px;
		box-shadow: 2px 2px 9px 0 rgba(0,0,0,.5)
	}
	
	.navigation>ul>li.with-subnavigation.opened a:before {
		transform: rotate(180deg)
	}
	
	.sub-navigation.active {
		display: block
	}
	
	.breadcrumb {
		padding-left: 20px
	}
	
	.header-language-chooser span {
		padding-left: 10px;
		padding-right: 30px
	}
	
	.header-language-chooser span span {
		padding: 0
	}
	
	.header-language-dropdown ul.thirds li {
		width: 50%
	}
	
	.header-language-dropdown span {
		padding: 20px 20px 20px 45px
	}
	
	.header-burger {
		display: inline-block;
		vertical-align: middle
	}
	
	.navigation {
		background-color: #fff;
		font-size: 18px;
		left: 0;
		max-height: 0;
		overflow: hidden;
		padding-right: 0;
		position: fixed;
		text-align: left;
		top: 70px;
		transition: max-height .5s linear;
		width: 100%
	}
	
	.navigation>ul,.navigation>ul>li {
		display: block
	}
	
	.navigation>ul>li.active>a {
		background-color: #003da5;
		color: #fff
	}
	
	.navigation>ul>li.active.with-subnavigation a:before {
		color: #fff
	}
	
	.navigation>ul>li.with-subnavigation>a:before {
		color: #003da5;
		content: "\e968";
		font-family: icomoon;
		font-size: 36px;
		height: 36px;
		line-height: 1;
		margin-top: -18px;
		position: absolute;
		right: 20px;
		text-align: center;
		top: 50%;
		transition: transform .2s linear;
		width: 36px
	}
	
	.navigation>ul>li>a {
		border-radius: 0;
		color: #003da5;
		display: block;
		font-size: 18px;
		margin: 0;
		padding: 26px 25px
	}
	
	.navigation>ul>li>a:after {
		background-color: #003da5;
		bottom: 0;
		content: "";
		display: block;
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%
	}
	
	.sub-navigation {
		border-bottom: 2px solid #003da5;
		box-shadow: none!important;
		display: none;
		max-height: none;
		position: relative;
		top: 0
	}
	
	.sub-navigation-list {
		display: block;
		padding: 30px 40px 0;
		text-align: left
	}
	
	.sub-navigation-list>li {
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 30px;
		text-align: left;
		width: 50%
	}
	
	.sub-navigation-list>li img {
		display: inline-block;
		height: auto;
		max-width: 110px;
		padding-bottom: 0;
		padding-right: 20px;
		vertical-align: middle
	}
}
@media screen and (max-width:1370px) {
	.navigation>ul>li>a {
		padding-right: 10px;
		padding-left: 10px
	}
}
@media screen and (max-width:1340px) {
	.header-logo {
		display: none
	}

	.header-logo-mobile {
		display: block
	}
}
@media screen and (max-width:1500px) {
	.navigation>ul>li>a {
		margin-right: 0;
		margin-left: 0;
		padding-right: 15px;
		padding-left: 15px
	}
}

.header,.text-align-right {
	text-align: right
}

.search-opened .header-search input {
	margin-left: 19px;
	padding-right: 15px;
	padding-left: 15px;
	width: 300px;
	border: 0;
	font-size: 16px
}

.search-opened .navigation {
	display: none
}

a,body,div,html,i,li,span,ul {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%
}

.header-language-chooser {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer
}

.header-language-chooser.active .header-language-dropdown {
	display: block
}[class*=" icon-"] {
	text-transform: none;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	font-family: icomoon!important;
	line-height: 1;
	speak: never;
	font-feature-settings: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

a,body,div,form,header,html,i,img,li,nav,span,ul {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%
}

header,nav {
	display: block
}

*,.selectbox-select select {
	outline: 0
}

.header.menu-opened {
	top: 0
}

.header.menu-opened .header-burger span {
	background-color: transparent
}

.header.menu-opened .header-burger span:after,.header.menu-opened .header-burger span:before {
	top: 0;
	transition: top .2s linear,transform .2s linear .25s;
	transform: rotate(-45deg)
}

.header.menu-opened .header-burger span:after {
	transform: rotate(45deg)
}

.navigation>ul>li:hover>a {
	background-color: #f2f5f9
}

.sub-navigation-list>li {
	width: 195px
}

a,article,body,div,em,form,h1,header,html,i,img,li,nav,p,span,ul {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline
}

article,header,nav {
	display: block
}

body {
	line-height: 1
}

ul {
	list-style: none
}

.flag-ar,.flag-bg,.flag-cs,.flag-da,.flag-de,.flag-de-at,.flag-de-ch,.flag-el,.flag-en,.flag-en-uk,.flag-en-us,.flag-es,.flag-es-co,.flag-es-la,.flag-es-mx,.flag-fi,.flag-fr,.flag-fr-ch,.flag-hr,.flag-hu,.flag-it,.flag-lt,.flag-lv,.flag-nl,.flag-pl,.flag-pt,.flag-ru,.flag-ru-by,.flag-sk,.flag-sl,.flag-sr,.flag-tha,.flag-tw,.flag-uk,.flag-vn,.flag-zh {
	background: url(/style2/flags-sprite.png?v=2.5) no-repeat;
	background-size: 168px 196px;
	height: 28px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999px;
	width: 28px
}

.flag-ar {
	background-position: -84px -140px
}

.flag-bg {
	background-position: 0 0
}

.flag-cs {
	background-position: -28px 0
}

.flag-de {
	background-position: -56px 0
}

.flag-de-at {
	background-position: -84px 0
}

.flag-de-ch,.flag-fr-ch {
	background-position: -112px 0
}

.flag-el {
	background-position: 0 -28px
}

.flag-en {
	background-position: -28px -28px
}

.flag-en-uk {
	background-position: -56px -28px
}

.flag-en-us {
	background-position: -84px -28px
}

.flag-es {
	background-position: -112px -28px
}

.flag-es-la {
	background-position: 0 -56px
}

.flag-es-mx {
	background-position: -28px -56px
}

.flag-fi {
	background-position: -56px -56px
}

.flag-fr {
	background-position: -84px -56px
}

.flag-hr {
	background-position: -112px -56px
}

.flag-hu {
	background-position: 0 -84px
}

.flag-it {
	background-position: -28px -84px
}

.flag-lt {
	background-position: -56px -84px
}

.flag-lv {
	background-position: -84px -84px
}

.flag-sl {
	background-position: -112px -140px
}

.flag-nl {
	background-position: -112px -84px
}

.flag-pl {
	background-position: 0 -112px
}

.flag-pt {
	background-position: -140px -84px
}

.flag-ru {
	background-position: -28px -112px
}

.flag-ru-by {
	background-position: -56px -112px
}

.flag-sk {
	background-position: -84px -112px
}

.flag-sr {
	background-position: -112px -112px
}

.flag-tw {
	background-position: -140px 0
}

.flag-uk {
	background-position: -140px -28px
}

.flag-zh {
	background-position: -140px -56px
}

.flag-da {
	background-position: -140px -112px
}

.flag-es-co {
	background-position: -28px -140px
}

.flag-vn {
	background-position: -140px -140px
}

.flag-tha {
	background-position: 0 -168px
}

.clearfix:after,.clearfix:before {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

.grid {
	font-size: 0
}

.grid__item {
	font-size: 18px;
	position: relative;
	text-align: left
}

.grid--rev {
	*zoom: 1
}

.grid {
	list-style: none;
	margin: 0 0 0 -20px;
	padding: 0
}

.grid__item {
	box-sizing: border-box;
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
	width: 100%
}

.grid--rev {
	direction: rtl;
	text-align: left
}

.grid--rev>.grid__item {
	direction: ltr;
	text-align: left
}

.grid--full {
	margin-left: 0
}

.grid--full>.grid__item {
	padding-left: 0
}

.grid--middle>.grid__item {
	vertical-align: middle
}

.one-whole {
	width: 100%
}

.one-half {
	width: 50%
}

.two-fifths {
	width: 40%
}

.three-fifths {
	width: 60%
}

.selectbox-container {
	background-color: #f2f5f9;
	display: inline-block;
	position: relative;
	vertical-align: top
}

.selectbox-select {
	min-width: 240px;
	position: relative
}

.selectbox-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #f2f5f9;
	border: none;
	box-shadow: none;
	color: #000;
	cursor: pointer;
	font-family: HelveticaNeue,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 300;
	height: 40px;
	line-height: 40px;
	outline: none;
	padding: 0 20px;
	width: 100%
}

.selectbox-select select::-ms-expand {
	display: none
}

.selectbox-select select::-moz-placeholder {
	color: #000;
	font-family: HelveticaNeue,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 40px
}

.selectbox-select:after {
	content: "\e968";
	font-family: icomoon;
	font-size: 16px;
	height: 16px;
	pointer-events: none;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline: none;
	text-rendering: optimizeLegibility
}

body,html {
	font-family: HelveticaNeue,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 300
}

p {
	line-height: 24px;
	padding-bottom: 30px;
	position: relative
}

a {
	color: inherit;
	-webkit-text-decoration: none;
	text-decoration: none
}

em {
	font-style: italic
}[data-href] {
	cursor: pointer
}

body,html {
	height: 100%;
	position: relative
}

.sticky-footer {
	clear: both;
	height: auto!important;
	height: 100%;
	min-height: 100%
}

.footer-pusher,.headline,.sticky-footer {
	position: relative
}

.headline {
	font-size: 65px;
	line-height: 1.2;
	opacity: 1;
	padding-bottom: 60px;
	transition: opacity .25s linear;
	display: block
}

.headline.no-space {
	padding-bottom: 0
}

.headline-second {
	font-size: 40px;
	line-height: 1.2;
	padding-bottom: 18px
}

.headline-second,.max-width {
	display: block;
	position: relative
}

.max-width {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	padding-left: 20px;
	padding-right: 20px
}

.max-width.middle {
	max-width: 1200px
}

.max-width.normal {
	max-width: 960px
}

.text-align-center {
	text-align: center
}

.text-align-right {
	text-align: right
}

.border-right-white {
	border-right: 2px solid #fff
}

.color-blue {
	color: #003da5
}

.button {
	background-color: #003da5;
	border: 1px solid #003da5;
	border-radius: 20px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	min-width: 110px;
	padding: 11px 25px 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: color .2s linear,background-color .2s linear,border-color .2s linear;
	vertical-align: middle
}

.button.space-right {
	margin-right: 20px
}

.header-image-info {
	background-color: #003da5;
	border-radius: 0 0 0 100%;
	color: #fff;
	display: block;
	max-width: 300px;
	opacity: 1;
	padding: 38px 20px 86px 77px;
	position: fixed;
	right: 0;
	text-align: right;
	top: 70px;
	transition: top .5s linear,right .5s linear,color .2s linear .5s,opacity .2s ease;
	z-index: 3
}

.header-image-info span {
	display: block;
	font-size: 16px;
	line-height: 19px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative
}

.header-image-info span.medium {
	letter-spacing: 5px;
	text-transform: uppercase
}

.header-image-info span.big {
	font-size: 32px;
	line-height: 33px;
	padding-bottom: 20px;
	text-transform: uppercase
}

.header-image-info span.big:after {
	background-color: #fff;
	bottom: 12px;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transition: background-color .2s linear .5s;
	width: 100%
}

.header-image-info.is-bottom {
	border-radius: 100% 0 0;
	bottom: 0;
	padding: 86px 20px 38px 77px;
	position: fixed;
	top: auto;
	z-index: 3
}

.breadcrumb {
	color: #323436;
	display: block;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.2;
	padding: 19px 25px;
	position: relative;
	text-transform: uppercase
}

.breadcrumb a,.breadcrumb span {
	display: inline-block;
	padding-right: 10px;
	position: relative;
	vertical-align: middle
}

.breadcrumb a {
	color: #323436
}

.breadcrumb a:first-child {
	padding-left: 0
}

.headline-header,.headline-header-inner {
	display: block;
	position: relative
}

.headline-header-inner {
	padding-top: 50px
}

.headline-header-inner.with-header-info {
	padding-left: 220px;
	padding-right: 220px
}

.overview {
	color: #323436;
	counter-reset: overview-number;
	padding: 30px 0
}

.overview,.overview article {
	display: block;
	position: relative
}

.overview article {
	transition: opacity .25s linear
}

.overview article:after {
	background-color: #f2f5f9;
	bottom: 100px;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	width: 100%;
	z-index: 1
}

.overview img {
	display: inline-block;
	max-width: 100%;
	position: relative;
	vertical-align: middle;
	z-index: 2
}

.overview-number {
	counter-increment: overview-number;
	display: block;
	padding-bottom: 150px;
	padding-right: 80px;
	padding-top: 150px;
	position: relative;
	z-index: 2
}

.overview-number:before {
	color: #f2f5f9;
	content: "0" counter(overview-number);
	font-size: 140px;
	height: 115px;
	line-height: 1;
	position: absolute;
	right: 80px;
	top: 75px
}

.overview-number.left {
	padding-left: 100px;
	padding-right: 0
}

.overview-number.left:before {
	left: 0;
	right: auto
}

.support-search input:placeholder {
	color: #53565a;
	opacity: 1
}

.support-search input::input-placeholder,.support-search input:input-placeholder {
	color: #53565a
}

.header {
	background-color: #fff;
	border-bottom: 1px solid #f2f5f9;
	display: block;
	font-size: 0;
	height: 70px;
	left: 0;
	position: fixed;
	text-align: right;
	top: 0;
	transition: top .2s linear;
	width: 100%;
	z-index: 5000
}

.header-placeholder {
	display: block;
	position: relative
}

.header-logo {
	display: none;
	font-size: 38px;
	height: 38px;
	left: 25px;
	margin-top: -18px
}

.header-logo,.header-logo-mobile {
	color: #53565a;
	position: absolute;
	top: 50%
}

.header-logo-mobile {
	display: block;
	font-size: 54px;
	height: 54px;
	left: 20px;
	margin-top: -27px
}

.header-search {
	background-color: #f2f5f9;
	font-size: 18px;
	margin-right: 3px;
	padding-left: 16px;
	padding-right: 12px;
	text-align: center
}

.header-search,.header-search form,.header-search input {
	display: inline-block;
	position: relative;
	vertical-align: middle
}

.header-search input {
	border: 0;
	font-size: 16px;
	padding: 10px 0;
	transition: all .5s linear;
	width: 0
}

.header-search-icon {
	color: #003da5;
	font-size: 28px;
	height: 28px;
	padding: 21px 6px;
	width: 28px
}

.header-language-chooser,.header-search-icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	vertical-align: middle
}

.header-language-chooser {
	background-color: #f2f5f9;
	font-size: 12px;
	line-height: 1.2
}

.header-language-icon {
	display: inline-block;
	font-size: 28px;
	height: 28px;
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	width: 28px
}

.header-language-chooser>span>span {
	width: 83px
}

.header-language-chooser i.arrow {
	bottom: 21px;
	color: #000;
	display: block;
	font-size: 15px;
	position: absolute;
	right: 10px
}

.header-language-chooser span {
	color: #000;
	display: block;
	height: 30px;
	padding: 20px 30px 20px 10px;
	position: relative
}

.header-language-chooser span span {
	display: inline-block;
	padding: 0;
	vertical-align: middle
}

.header-language-chooser .headline-language,.header-language-chooser span.headline-language {
	display: block;
	font-weight: 500;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 30px;
	position: relative;
	text-transform: uppercase
}

.header-language-dropdown {
	background-color: #f2f5f9;
	box-shadow: 2px 2px 9px 0 rgba(0,0,0,.5);
	display: none;
	max-height: calc(100% - 70px);
	overflow: auto;
	padding-bottom: 35px;
	padding-top: 10px;
	position: fixed;
	right: 0;
	top: 70px;
	width: 100%
}

.header-language-dropdown ul {
	display: block;
	font-size: 0;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	text-align: left
}

.header-language-dropdown ul.thirds li {
	width: 33.33%
}

.header-language-dropdown .header-language-icon {
	left: 10px;
	margin-top: -17px;
	position: absolute;
	top: 50%
}

.header-language-dropdown li {
	display: inline-block;
	font-size: 16px;
	position: relative;
	transition: background-color .2s linear;
	vertical-align: middle;
	width: 100%
}

.header-language-dropdown span {
	display: block;
	height: auto;
	padding: 20px 20px 20px 45px;
	position: relative;
	transition: color .2s linear
}

.header-selectbox .selectbox-container {
	display: block
}

.header-selectbox .selectbox-select {
	padding: 15px 0;
	width: 100%
}

.header-burger {
	background-color: #003da5;
	cursor: pointer;
	display: none;
	padding: 31px 20px 10px;
	position: relative
}

.header-burger .text {
	color: #fff;
	display: block;
	font-size: 10px;
	font-weight: 400;
	padding-top: 16px;
	position: relative;
	text-align: center;
	text-transform: uppercase
}

.header-burger span {
	background-color: #fff;
	display: block;
	height: 3px;
	position: relative;
	transition: background-color .2s linear;
	width: 35px
}

.header-burger span:after,.header-burger span:before {
	background-color: #fff;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: -8px;
	transform-origin: center,center;
	transition: transform .2s linear,top .2s linear .25s;
	width: 100%
}

.header-burger span:after {
	top: 8px
}

.navigation {
	font-size: 15px;
	line-height: 18px;
	padding-right: 20px
}

.navigation,.navigation>ul,.navigation>ul>li {
	display: inline-block;
	position: relative;
	vertical-align: middle
}

.navigation>ul>li.active>a,.navigation>ul>li:hover>a {
	background-color: #f2f5f9
}

.navigation>ul>li:hover .sub-navigation {
	box-shadow: 2px 2px 9px 0 rgba(0,0,0,.5);
	max-height: 900px
}

.navigation>ul>li.mobile-menu,.navigation>ul>li.tablet-menu {
	border-bottom: 2px solid #003da5;
	display: none
}

.navigation>ul>li>a {
	border-radius: 19px;
	color: #323436;
	display: inline-block;
	margin: 16px 5px;
	padding: 10px 20px;
	position: relative;
	transition: background-color .2s linear,top .2s linear;
	vertical-align: middle
}

.navigation input {
	border: 0;
	box-sizing: border-box;
	color: #323436;
	display: block;
	font-family: HelveticaNeue,Helvetica,sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 18px;
	padding: 26px 25px 26px 57px;
	position: relative;
	width: 100%
}

.navigation input:placeholder {
	color: #323436;
	opacity: 1
}

.navigation input::-moz-placeholder {
	color: #323436;
	opacity: 1
}

.navigation input::input-placeholder,.navigation input:input-placeholder {
	color: #323436
}

.navigation .search-icon:before {
	color: #003da5;
	content: "\e98b";
	font-family: icomoon;
	font-size: 18px;
	height: 18px;
	left: 27px;
	line-height: 1;
	margin-top: -11px;
	position: absolute;
	top: 50%;
	width: 18px;
	z-index: 1
}

.sub-navigation {
	background-color: #f9f9fb;
	display: block;
	left: 0;
	max-height: 0;
	overflow: hidden;
	position: fixed;
	top: 70px;
	transition: max-height .2s linear;
	width: 100%;
	z-index: 3000
}

.sub-navigation-list {
	display: inline-block;
	font-size: 0;
	max-width: 100%;
	padding: 50px 20px 30px;
	position: relative;
	text-align: right;
	vertical-align: middle
}

.sub-navigation-list>li {
	display: inline-block;
	font-size: 22px;
	line-height: 28px;
	padding-bottom: 40px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 10%
}

.sub-navigation-list>li img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	position: relative;
	transform: scale(.9);
	transition: all .25s linear
}

.sub-navigation-list>li span {
	display: inline-block;
	position: relative;
	vertical-align: middle
}

.sub-navigation-list>li:hover img {
	transform: scale(1)
}

.sub-navigation-list>li>a {
	color: #003da5;
	white-space: nowrap
}

.sub-navigation-list>li>a span {
	white-space: normal
}[class*=" icon-"],[class^=icon-] {
	speak: never;
	font-feature-settings: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: icomoon!important;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none
}

.icon-arrow-down:before {
	content: "\e968"
}

.icon-search:before {
	color: #1a459d;
	content: "\e98b"
}